.navbar-home .nav-home-icon svg{
    font-size:36px;
}
.navbar-home  .nav-home-item{
    text-align:center;
    margin-top:10px;
    color:white;
}
.navbar-home .nav-home-item .nav-home-icon,
.navbar-home .nav-home-item .nav-home-header{
    height:70px;
    background-color:var(--dark);
    color:white;
    padding:10px 5px;
    

}
.navbar-home .nav-home-item .nav-home-header{
    margin-top:5px;
    font-size:14px
}
.navbar-expand-sm .navbar-nav .nav-link{
    padding:0;
}
.navbar-home .nav-home-item {
    width:calc((100% - 30px)/7);
    margin-right:5px;
}

/* @media( ) */

@media (min-width: 220px){
    .navbar-home .navbar-nav{
        flex-direction: row;
        flex-wrap:wrap;
    }
    .navbar-home .nav-home-item{
        width:calc((100% - 10px)/2);

    }
}
@media (min-width: 440px){
    .navbar-home .navbar-nav{
        flex-direction: row;
        flex-wrap:wrap;
    }
    .navbar-home .nav-home-item{
        width:calc((100% - 30px)/4);
    }
}
@media (min-width: 760px){
    .navbar-home .navbar-nav{
        flex-direction: row;
        flex-wrap:wrap;
    }
    .navbar-home .nav-home-item{
        width:calc((100% - 35px)/7);
    }
    .navbar-home .nav-home-item .nav-home-header{
        font-size: 0.8em;
    }
}
@media (min-width:1200px) {
    .navbar-home .navbar-nav {
        width:100%;
    }
    
    .navbar-home .nav-home-item .nav-home-header{
        font-size:1em;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 
    .navbar-home .container{
        max-width:none;
    }
 } */