

:root{
  --AbouDhabiStatistics:#644243;
  --Economy:#b5985a;
  --Industy:#336d71;
  --Population:#336d71;
  --socialStatistics:#6c92a5;
  --Labout:#769085;
  --Agriculture:#a3ac73;
  --white:white;
  --light:#eaeaea;
  /* --dark:rgb(34, 32, 32); */
  --dark:#1b1b1b;
  --RedScad:#940d0df5;

  }
  body{
    background-color:#AAA;
  }